<div class="col-12">
  <div>
    <div class="foyer-list-title">
      <h4>Liste Foyers</h4>
    </div>

    <div class="card-body">
      <table class="table table-bordered foyer-list-table">
        <thead>
          <tr>
            <td style="font-weight: bold; background-color: rgb(165, 184, 248);">Id Foyer</td>
            <td style="font-weight: bold; background-color: rgb(165, 184, 248);">Nom Foyer</td>
            <td style="font-weight: bold; background-color: rgb(165, 184, 248);">Capacité Foyer</td>
            <td style="font-weight: bold; background-color: rgb(165, 184, 248);">Actions</td>
          </tr>
        </thead>
        <tbody>
          @for (item of foyerList; track item.idFoyer) {
            <tr>
              <td>{{item.idFoyer}}</td>
              <td>{{item.nomFoyer}}</td>
              <td>{{item.capaciteFoyer}}</td>
              <td>
                <button class="btn-edit" (click)="onButtonEdit(item)">Modifier</button>&nbsp;
                <button class="btn-delete" (click)="onButtonDelete(item.idFoyer)">Supprimer</button>
              </td>
            </tr>
          }
          <tr>
            <td colspan="4">
              <div class="div-create">
                <button (click)="onCreateNew()" class="btn-create">Ajouter&nbsp;Foyer</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="side-panel" [class.open]="isPanelOpen">
  <div>
    <button (click)="closePanel()">✕</button>
    <h5 class="foyer-form-title">Formulaire Foyer</h5>
  </div>

  <div>
    <form class="form-grid" [formGroup]="foyerForm">
      <div class="form-group">
        @if(actionMode == "new"){
          <input type="text" [hidden]="true" id="idFoyer" formControlName="idFoyer" class="form-control">
        } @else {
          <label for="idFoyer">Id Foyer</label>
          <input type="text" id="idFoyer" formControlName="idFoyer" class="form-control">
        }
      </div><br>

      <div class="form-group">
        <label for="nomFoyer">Nom Foyer</label>
        <input type="text" id="nomFoyer" formControlName="nomFoyer" class="form-control" placeholder="Entrer le nom du foyer">
        @if(nomFoyer?.invalid && (actionMode == "update" || nomFoyer?.touched)){
          <div class="text-danger">
            @if(nomFoyer?.errors?.['required']){
              <span>C'est obligatoire</span>
            }
            @if(nomFoyer?.errors?.['minlength']){
              <span>Minimum 3 caractères</span>
            }
          </div>
        }
      </div>

      <div class="form-group">
        <label for="capaciteFoyer">Capacité Foyer</label>
        <input type="number" id="capaciteFoyer" formControlName="capaciteFoyer" class="form-control" placeholder="Entrer la capacité">
        @if(capaciteFoyer?.invalid && (actionMode == "update" || capaciteFoyer?.touched)){
          <div class="text-danger">
            @if(capaciteFoyer?.errors?.['required']){
              <span>C'est obligatoire</span>
            }
          </div>
        }
      </div>

      <div class="form-group full-width">
        <div class="form-button">
          @if(actionMode == "new"){
            <button type="submit" class="btn btn-primary" [disabled]="foyerForm.invalid" (click)="onSave('new')">Ajouter</button>
          } @else {
            <button type="submit" class="btn btn-primary" [disabled]="foyerForm.invalid" (click)="onSave('update')">Modifier</button>
          }
        </div>
      </div>
    </form>
  </div>
</div>

@if (isPanelOpen) {
  <div class="overlay" (click)="closePanel()"></div>
}